.page {
    padding: 4%;
}
.col-sm-6{
	border: 1px solid transparent;
	/*border-radius: 10px;*/
	padding: 10px;
	transition: border-color 0.2s ease;
	text-align: center;
}
.col-sm-6:hover {
	border-color: lightgray;
}
.thumbnail-light-media:hover img {
    filter: brightness(80%);
	transition: filter 0.4s ease;
}


.game-link {
	color: cornflowerblue;
}

.game-link:hover {
	color: cadetblue;
	text-decoration: none;
}

.message {
	border: 1px solid;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-family: "Fira Code";
	font-size: 17px;
}

.win-message {
	border-color: #96dd93;
	background: #96dd93;
}

.lost-message{
	border-color: #e37875;
	background: #e37875;
}


/*TOAST*/
.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  background-color: #ffffff; /* Белый цвет фона */
	border-radius: 4px;
  color: black; /* Синий цвет текста */
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.toast.show {
  opacity: 1;
  visibility: visible;
}

.toast-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toast-body {
  margin-top: 10px;
}
.toast .close {
  background-color: transparent;
  border: none;
  color: inherit;
}

.toast .close:hover {
  color: black;
}

.toast .close span {
  font-size: 20px;
  opacity: 0.5; /* Прозрачность иконки */
	  color: black;
}

/* Дополнительные стили для разных типов toast (например, успех, предупреждение, ошибка) */
.toast-success{
	border: 2px solid #42fe5a;
  border-radius: inherit;
  padding: 15px;
}

.toast-warning {
	border: 2px solid #edf333;
  border-radius: inherit;
  padding: 15px;
}

.toast-error {
	border: 2px solid #f23627;
  border-radius: inherit;
  padding: 15px;
}
