{% extends 'dependency.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>High/Low</title>
    <style>
        @import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css');
        html,
        body {
            height: 100%
        }
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            appearance: none;
            margin: 0;
        }
    </style>
</head>
<body>
<div class="h-100 d-flex align-items-center justify-content-center">
    <div>
            <div class="price">
             <p>Баланс: <span id="balance">1000</span></p>
        <label>Сумма
            <input id="bet" type="number" min="1" max="99999999" value="1">
        </label>
    </div>
            <p class="message" id="message" style="display: none"></p>
        <div class="h-100 d-inline-block align-items-center justify-content-center" style="min-width: 400px">
            <div class="container" style="border: 1px solid grey; border-radius: 5px; padding: 10px">
                <h3 style="text-align: center" id="value">1.05 ₽</h3>
            </div>
            <div style="display: inline-block;margin-top: 10px; white-space: nowrap; min-width: 100%">
                <button id="lower" type="button" style="min-width: 50%" class="btn btn-warning">0 - 949999</button>
                <button id="higher" type="button" style="min-width: 50%" class="btn btn-warning">50000 - 999999</button>
            </div>
                    <div style="margin-top: 10px"> Вероятность
            <input id="ratio" style="text-align: center" type="number" min="1" max="100" oninput="validity.valid||(value='');" value="95">
        </div>
        </div>
{#        <h1 style="color: darkred; font-weight: bold; font-size: 50px">Test</h1>#}
{#        <p class="lead">Test2</p>#}
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/js/dice.js"></script>
</html>
{% endblock content %}
