{% extends 'dependency.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <style>
    @import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css');
    html,
    body {
        height: 100%
    }
</style>
</head>
<body class="text-center">
<div class="h-100 d-flex align-items-center justify-content-center">
    <div>
        <h1 class="cover-heading" style="color: darkred; font-weight: bold; font-size: 50px">Тест</h1>
        <p class="lead">Тест2</p>
        <a class="btn btn-outline-danger" href="/games">Игры</a>
    </div>
</div>
</body>
</html>
{% endblock content %}